# Basic Data Structure in Python 
  - Tuple
  - List
  - Dictionaries
  - set

## 1- Tuple
- Tuple is ordered collection of elements.  
- Are enclosed in round braces/ parenthesis ().
- Different kind of elements can be stored. 
- once elements are stored, you can not change them. Mean they are **Immutable**.

In [1]:
# Defining 1st Tuple
tup1=(1, "Python", True, 2.5)
tup1

(1, 'Python', True, 2.5)

In [3]:
# Type of tupple
type(tup1)

tuple

In [4]:
# - Indexing Tuple in Python
tup1[0]

1

In [5]:
tup1[1]

'Python'

In [6]:
tup1[2]

True

In [7]:
tup1[0:3]   # Last element is exclusive

(1, 'Python', True)

In [8]:
tup1[0:5]

(1, 'Python', True, 2.5)

In [9]:
# To count elements of tuple 
len(tup1)

4

In [10]:
# Defining 2nd Tuple
tup2=(2, "BABA", 3.5, False)
tup2

(2, 'BABA', 3.5, False)

In [11]:
# Concatinating Tuple (Addition)
tup1+tup2 # added the tup1 tup2

(1, 'Python', True, 2.5, 2, 'BABA', 3.5, False)

In [12]:
tup1*2+tup2

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5, 2, 'BABA', 3.5, False)

In [15]:
# Defining 3rd Tuple
tup3=(20, 50, 58, 34, 25)
tup3

(20, 50, 58, 34, 25)

In [17]:
# Minimum values in tuple
min(tup3)

20

In [18]:
max(tup3)

58

In [19]:
tup3*3   # it will repeat the tuple 3 times

(20, 50, 58, 34, 25, 20, 50, 58, 34, 25, 20, 50, 58, 34, 25)

In [20]:
tup3+2   # it will give error (google the reason)

TypeError: can only concatenate tuple (not "int") to tuple

# 2- List

- Ordered Collection of elements.
- Enclosed in [] Square Braces/ Brackets.
- Mutateable, you can change the values.

In [36]:
# Defining 1st List 
list1=[2, "Jamal", False]
list1

[2, 'Jamal', False]

In [22]:
type(list1)

list

In [23]:
len(list1)

3

In [24]:
list1[2]  # checking the 3rd index

False

In [37]:
# Defining 2nd List 
list2=[3, 5, "Ammar", "Codanics", 53.2, 478, False]
list2

[3, 5, 'Ammar', 'Codanics', 53.2, 478, False]

In [27]:
# Concatinating 
list1+list2

[2, 'Jamal', False, 3, 5, 'Ammar', 'Codanics', 53.2, 478, False]

In [28]:
list1*2

[2, 'Jamal', False, 2, 'Jamal', False]

In [29]:
list1.reverse()     # list1 dot than tab key we get many things... 
list1

[False, 'Jamal', 2]

In [30]:
list1.count()   # it give error, now what should we do
list1           # How it work

TypeError: list.count() takes exactly one argument (0 given)

In [31]:
list1.append("Codanics youtube")   # append mean binding something with list1
list1

[False, 'Jamal', 2, 'Codanics youtube']

After list1.(Tab) try all the commands and get used with it...

In [26]:
import numpy as np
import statistics

In [9]:
list3=[20, 30, 35, 50, 10, 11]
list3

[20, 30, 35, 50, 10, 11]

In [10]:
# checking the length 
len(list3)

6

In [34]:
# to check mean of list3
list3.mean()

AttributeError: 'list' object has no attribute 'mean'

In [33]:
# sorting a list3.
list3.sort()
list3

[10, 11, 20, 30, 35, 50]

In [38]:
lists=list1+list2
lists

[2, 'Jamal', False, 3, 5, 'Ammar', 'Codanics', 53.2, 478, False]

_____________
# 3- Dictionaries
  
  - Unordered collection of elements 
  - Key and values (two things) 
  - Curly braces or brackets {}
  - Mutateable / Change the values

In [39]:
# Food and prices 
food1={"samosa" : 30, "pakora" : 100, "raita" : 10 , "salad" : 50 , "chicken rolls" : 40}
food1

{'samosa': 30, 'pakora': 100, 'raita': 10, 'salad': 50, 'chicken rolls': 40}

In [40]:
type(food1)

dict

In [42]:
# extract data without prices 
food1.keys()

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken rolls'])

In [43]:
# extract data without keys
food1.values()

dict_values([30, 100, 10, 50, 40])

In [51]:
# Adding something to above Dictionary which is food1
food1.update['tikki']=10
food1

TypeError: 'builtin_function_or_method' object does not support item assignment

In [48]:
## Now if we wish to update any existing value in Dictionary then. For example tikki from 10 to 15 then. 
food1["tikki"]=15
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 10,
 'salad': 50,
 'chicken rolls': 40,
 'tikki': 15}

In [52]:
## If we have another food2 
food2={"dates" : 50 , "chocolates":200, "siwayan":1000}
food2

{'dates': 50, 'chocolates': 200, 'siwayan': 1000}

In [53]:
# if we wish to add food1 & food2 food1+food2 # it give error, we do
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 10,
 'salad': 50,
 'chicken rolls': 40,
 'tikki': 15,
 'dates': 50,
 'chocolates': 200,
 'siwayan': 1000}

# 4 - Set
 - unordered and unindexed  
 - curly braces are used {} 
 - No duplicate allowed
 - Boolean operators are not allowed 
 - Only integer, floats and strings are allowed

In [54]:
s1={1,2.2, 5.2, "Jamaal", "Karama"}
s1

{1, 2.2, 5.2, 'Jamaal', 'Karama'}

In [58]:
s1.add("Jamaal")  # adding Jamaal is not allowed because it will become duplicate s1
s1

{1, 2.2, 5.2, 'Jamaaal', 'Jamaal', 'Karama'}

In [59]:
s1.add("Jamal") # it is allowed because of spelling difference 
s1

{1, 2.2, 5.2, 'Jamaaal', 'Jamaal', 'Jamal', 'Karama'}

In [60]:
s1.remove("Jamal") 
s1

# Practice all other functions, with Tab-key

{1, 2.2, 5.2, 'Jamaaal', 'Jamaal', 'Karama'}